.box {
  float: left;
}

.root {
  max-width: $siteWidth;
  margin: 0 auto;
  height: 100%;
}

.inner { width: 80%; }
.wrapper, .heading, .content, .footer { width: 100%; }

.wrapper {
  @include fadeInAnimation(200ms);
}

.header-image:hover {  
  @keyframes rotate {
    33% { transform: rotate(-10deg); }
    66% { transform: rotate(10deg); }
  }

  animation: rotate 300ms;
}

.nav-left {
  width: 20%;
  margin-top: $headerHeight;
  background-color: $bgColor;
}

.nav-top {
  display: none;
  width: 100%;
  background-color: $navDarkColor;
}

.gap-top, .gap-bottom {
  width: 100%;
  height: 10%;
}

.header {
  width: 100%;
  padding: 0 0 $contentPadding $contentPadding;
  height: $headerHeight;
  color: $textColor;
  text-shadow: 2px 1px 3px $accentColor;
  
  .header-inner {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    .header-image {
      height: 100%;
      overflow: hidden;
      padding-right: $contentPadding;
    
      img {
        height: 100%;
      }
    }
  
    .header-text {
      text-align: right;
    }
  }
}

.content-wrapper {
  width: 80%;
  padding: $contentPadding;
  background-color: $bgColor;
}

.content > p {
  line-height: 1.6em;
  margin: 10px 0 5px 0;
  
  &:first-child {
    margin: 6px 0;
  }
}

.footer {
  margin: 10px 0 -10px -10px;
  padding: 10px;
  border-top: 1px solid rgba(96, 96, 96, 0.3);
  font-size: 0.9em;
  opacity: 0.95;
  display: flex;
  justify-content: space-between;
  
  :nth-child(2) {
    text-align: right;
  }
}