@import 'normalize', 'mixins';

html, body {
    height: 100%;
    color: $textColor;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    margin: 0;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: $linkColor;
    font-weight: bold;

    &:hover {
        color: $linkColor;
        text-decoration: underline;
    }

    &:visited {
        text-decoration: none;
    }
}

.content-wrapper, .header {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.header h1 {
    margin-bottom: 10px;
    font-weight: normal;
    
    a {
      color: $headerColor;
      font-weight: normal;
      
      &:hover {
        text-decoration: none;
      }
    }
}

@import 'layout', 'nav', 'sheet-music', 'media';