@mixin transition($property, $duration, $timingFunction) {
  -webkit-transition: $property $duration $timingFunction;
  -moz-transition: $property $duration $timingFunction;
  -o-transition: $property $duration $timingFunction;
  transition: $property $duration $timingFunction;
}

@mixin fadeInAnimation($duration) {  
  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: $duration;
  animation-name: fadeIn;
  animation-duration: $duration;
}

@mixin nav-item($url) {
  display: block;
  padding: 7px 7px 7px 35px;
  background: $url no-repeat 10px 9px;

  &:hover {
    background-position: 10px + $navHoverAnimation 9px;
    padding-left: 35px + $navHoverAnimation;
  }
}