$siteWidth: 1200px;
$headerHeight: 120px;
$smallBreakpoint: 700px;
$mediumBreakpoint: 900px;
$bulletImage: url(../img/notes-white.png);
$activeBulletImage: url(../img/notes-black.png);
$textColor: #fefefe;
$headerColor: $textColor;
$bgColor: rgba(44, 42, 19, 0.9);
$linkColor: rgba(229, 207, 139, 1);
$accentColor: rgba(44, 42, 19, 1);
$navDarkColor: rgba(24, 24, 24, 0.8);
$navActiveColor: $linkColor;
$navActiveTextColor: #222;
$sheetMusicColor: rgba(101, 96, 44, 0.4);
$sheetMusicActiveColor: rgba(101, 96, 44, 0.8);
$sheetMusicActiveTextColor: $linkColor;
$contentPadding: 10px;
$navHoverAnimation: 3px;

@import 'main';

body {
    background: rgba(44, 42, 19, 1) url(../img/fran-bow-bg.jpg) center center / auto 100% repeat fixed;
}
