$siteWidth: 1200px;
$headerHeight: 120px;
$smallBreakpoint: 700px;
$mediumBreakpoint: 900px;
$bulletImage: url(../img/notes-white.png);
$activeBulletImage: url(../img/notes-white.png);
$textColor: lighten(#d2d6da, 8%);
$headerColor: #fefefe;
$bgColor: darken(rgba(52, 58, 64, 0.8), 4%);
$linkColor: rgba(201, 141, 78, 1);
$accentColor: rgba($bgColor, 1);
$navDarkColor: rgba(164, 87, 41, 0.6);
$navActiveColor: $linkColor;
$navActiveTextColor: #222;
$sheetMusicColor: rgba($bgColor, 0.6);
$sheetMusicActiveColor: rgba($bgColor, 0.8);
$sheetMusicActiveTextColor: $linkColor;
$contentPadding: 10px;
$navHoverAnimation: 3px;

@import 'main';

body {
    background: #384444 url(../img/the-witcher-3-bg.jpg) center center no-repeat fixed;
}